In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('train_ver2.csv')

C:\Users\Smartjuice\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (5,8,11,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13647309 entries, 0 to 13647308
Data columns (total 48 columns):
 #   Column                 Dtype
---  ------                 -----
 0   fecha_dato             object
 1   ncodpers               int64
 2   ind_empleado           object
 3   pais_residencia        object
 4   sexo                   object
 5   age                    object
 6   fecha_alta             object
 7   ind_nuevo              float64
 8   antiguedad             object
 9   indrel                 float64
 10  ult_fec_cli_1t         object
 11  indrel_1mes            object
 12  tiprel_1mes            object
 13  indresi                object
 14  indext                 object
 15  conyuemp               object
 16  canal_entrada          object
 17  indfall                object
 18  tipodom                float64
 19  cod_prov               float64
 20  nomprov                object
 21  ind_actividad_cliente  float64
 22  renta                  float64
 23  segmento               object
 24  ind_ahor_fin_ult1      int64
 25  ind_aval_fin_ult1      int64
 26  ind_cco_fin_ult1       int64
 27  ind_cder_fin_ult1      int64
 28  ind_cno_fin_ult1       int64
 29  ind_ctju_fin_ult1      int64
 30  ind_ctma_fin_ult1      int64
 31  ind_ctop_fin_ult1      int64
 32  ind_ctpp_fin_ult1      int64
 33  ind_deco_fin_ult1      int64
 34  ind_deme_fin_ult1      int64
 35  ind_dela_fin_ult1      int64
 36  ind_ecue_fin_ult1      int64
 37  ind_fond_fin_ult1      int64
 38  ind_hip_fin_ult1       int64
 39  ind_plan_fin_ult1      int64
 40  ind_pres_fin_ult1      int64
 41  ind_reca_fin_ult1      int64
 42  ind_tjcr_fin_ult1      int64
 43  ind_valo_fin_ult1      int64
 44  ind_viv_fin_ult1       int64
 45  ind_nomina_ult1        float64
 46  ind_nom_pens_ult1      float64
 47  ind_recibo_ult1        int64
dtypes: float64(8), int64(23), object(17)
memory usage: 4.9+ GB

# Data Cleaning

First, let's translate the column names into English.

In [8]:
new_columns = ["Date","ID","Employee","Country","Sex","Age","Account Opened","Opened In Last Six Months","Months","Primary Customer","Last Date As Primary Customer","Customer Type","Customer Relation",
                  "Spanish Resident","Foreigner","Employee Spouse","Channel","Deceased","Address Type","Province Code","Province Name","Activity Index","Gross Household Income","Segmentation","Savings Account","Guarantees",
                  "Current Account", "Derivatives Account", "Payroll Account", "Junior Account", "More Particular Account","Particular Account","Particular Plus Account", "Short Term Deposits","Medium Term Deposits",
                  "Long Term Deposits","eAccount","Funds","Mortgage","Pensions","Loans","Taxes","Credit Card","Securities","Home Account","Payroll","Nominal Pensions","Direct Debit"]
mapping = dict(zip(list(df.columns),new_columns))
df.rename(columns = mapping, inplace=True)

In [12]:
df[df.ID.isin(df.ID.unique())]

,Date,ID,Employee,Country,Sex,Age,Account Opened,Opened In Last Six Months,Months,Primary Customer,...,Mortgage,Pensions,Loans,Taxes,Credit Card,Securities,Home Account,Payroll,Nominal Pensions,Direct Debit
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13647304,2016-05-28,1166765,N,ES,V,22,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647305,2016-05-28,1166764,N,ES,V,23,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647306,2016-05-28,1166763,N,ES,H,47,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647307,2016-05-28,1166789,N,ES,H,22,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647308,2016-05-28,1550586,N,ES,H,37,2016-05-13,1.0,0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [13]:
df.describe()

,ID,Opened In Last Six Months,Primary Customer,Address Type,Province Code,Activity Index,Gross Household Income,Savings Account,Guarantees,Current Account,...,Mortgage,Pensions,Loans,Taxes,Credit Card,Securities,Home Account,Payroll,Nominal Pensions,Direct Debit
count,1.364731e+07,1.361958e+07,1.361958e+07,13619574.0,1.355372e+07,1.361958e+07,1.085293e+07,1.364731e+07,1.364731e+07,1.364731e+07,...,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.363125e+07,1.363125e+07,1.364731e+07
mean,8.349042e+05,5.956184e-02,1.178399e+00,1.0,2.657147e+01,4.578105e-01,1.342543e+05,1.022912e-04,2.315475e-05,6.554837e-01,...,5.886582e-03,9.170965e-03,2.627404e-03,5.253636e-02,4.438868e-02,2.560761e-02,3.847718e-03,5.472434e-02,5.942854e-02,1.279162e-01
std,4.315650e+05,2.366733e-01,4.177469e+00,0.0,1.278402e+01,4.982169e-01,2.306202e+05,1.011340e-02,4.811883e-03,4.752103e-01,...,7.649791e-02,9.532502e-02,5.119083e-02,2.231060e-01,2.059571e-01,1.579616e-01,6.191053e-02,2.274414e-01,2.364250e-01,3.339965e-01
min,1.588900e+04,0.000000e+00,1.000000e+00,1.0,1.000000e+00,0.000000e+00,1.202730e+03,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.528130e+05,0.000000e+00,1.000000e+00,1.0,1.500000e+01,0.000000e+00,6.871098e+04,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,9.318930e+05,0.000000e+00,1.000000e+00,1.0,2.800000e+01,0.000000e+00,1.018500e+05,0.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.199286e+06,0.000000e+00,1.000000e+00,1.0,3.500000e+01,1.000000e+00,1.559560e+05,0.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.553689e+06,1.000000e+00,9.900000e+01,1.0,5.200000e+01,1.000000e+00,2.889440e+07,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [14]:
df.isna().any()

Date                             False
ID                               False
Employee                          True
Country                           True
Sex                               True
Age                              False
Account Opened                    True
Opened In Last Six Months         True
Months                           False
Primary Customer                  True
Last Date As Primary Customer     True
Customer Type                     True
Customer Relation                 True
Spanish Resident                  True
Foreigner                         True
Employee Spouse                   True
Channel                           True
Deceased                          True
Address Type                      True
Province Code                     True
Province Name                     True
Activity Index                    True
Gross Household Income            True
Segmentation                      True
Savings Account                  False
Guarantees                       False
Current Account                  False
Derivatives Account              False
Payroll Account                  False
Junior Account                   False
More Particular Account          False
Particular Account               False
Particular Plus Account          False
Short Term Deposits              False
Medium Term Deposits             False
Long Term Deposits               False
eAccount                         False
Funds                            False
Mortgage                         False
Pensions                         False
Loans                            False
Taxes                            False
Credit Card                      False
Securities                       False
Home Account                     False
Payroll                           True
Nominal Pensions                  True
Direct Debit                     False
dtype: bool

In [29]:
df['Employee'].value_counts()

N    13610977
B        3566
F        2523
A        2492
S          17
Name: Employee, dtype: int64

This dataset is absolutely enormous. Let's pull out a sample of it to perform our EDA on to reduce processing demand.

In [21]:
ids = pd.Series(df["ID"].unique())
sample_ids = ids.sample(n=10000)
dfs = df[df.ID.isin(sample_ids)]

In [30]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142882 entries, 69 to 13647292
Data columns (total 48 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Date                           142882 non-null  object
 1   ID                             142882 non-null  int64
 2   Employee                       142528 non-null  object
 3   Country                        142528 non-null  object
 4   Sex                            142528 non-null  object
 5   Age                            142882 non-null  object
 6   Account Opened                 142528 non-null  object
 7   Opened In Last Six Months      142528 non-null  float64
 8   Months                         142882 non-null  object
 9   Primary Customer               142528 non-null  float64
 10  Last Date As Primary Customer  236 non-null     object
 11  Customer Type                  141314 non-null  object
 12  Customer Relation              141314 non-null  object
 13  Spanish Resident               142528 non-null  object
 14  Foreigner                      142528 non-null  object
 15  Employee Spouse                23 non-null      object
 16  Channel                        140950 non-null  object
 17  Deceased                       142528 non-null  object
 18  Address Type                   142528 non-null  float64
 19  Province Code                  141761 non-null  float64
 20  Province Name                  141761 non-null  object
 21  Activity Index                 142528 non-null  float64
 22  Gross Household Income         113882 non-null  float64
 23  Segmentation                   140925 non-null  object
 24  Savings Account                142882 non-null  int64
 25  Guarantees                     142882 non-null  int64
 26  Current Account                142882 non-null  int64
 27  Derivatives Account            142882 non-null  int64
 28  Payroll Account                142882 non-null  int64
 29  Junior Account                 142882 non-null  int64
 30  More Particular Account        142882 non-null  int64
 31  Particular Account             142882 non-null  int64
 32  Particular Plus Account        142882 non-null  int64
 33  Short Term Deposits            142882 non-null  int64
 34  Medium Term Deposits           142882 non-null  int64
 35  Long Term Deposits             142882 non-null  int64
 36  eAccount                       142882 non-null  int64
 37  Funds                          142882 non-null  int64
 38  Mortgage                       142882 non-null  int64
 39  Pensions                       142882 non-null  int64
 40  Loans                          142882 non-null  int64
 41  Taxes                          142882 non-null  int64
 42  Credit Card                    142882 non-null  int64
 43  Securities                     142882 non-null  int64
 44  Home Account                   142882 non-null  int64
 45  Payroll                        142670 non-null  float64
 46  Nominal Pensions               142670 non-null  float64
 47  Direct Debit                   142882 non-null  int64
dtypes: float64(8), int64(23), object(17)
memory usage: 53.4+ MB

A lot of customers who have missing data in some of the identifying information (e.g. Sex, Employee, Country) seem to be missing data for all of the fields. Since this dataset is already so large - it should be safe to drop these customers.

In [56]:
dfs = dfs[dfs['Account Opened'].notna()]
dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142528 entries, 69 to 13647292
Data columns (total 47 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Date                           142528 non-null  object
 1   ID                             142528 non-null  int64
 2   Employee                       142528 non-null  object
 3   Country                        142528 non-null  object
 4   Sex                            142528 non-null  object
 5   Age                            142528 non-null  object
 6   Account Opened                 142528 non-null  object
 7   Opened In Last Six Months      142528 non-null  float64
 8   Months                         142528 non-null  object
 9   Primary Customer               142528 non-null  float64
 10  Last Date As Primary Customer  236 non-null     object
 11  Customer Type                  141314 non-null  object
 12  Customer Relation              141314 non-null  object
 13  Spanish Resident               142528 non-null  object
 14  Foreigner                      142528 non-null  object
 15  Employee Spouse                23 non-null      object
 16  Channel                        140950 non-null  object
 17  Deceased                       142528 non-null  object
 18  Province Code                  141761 non-null  float64
 19  Province Name                  141761 non-null  object
 20  Activity Index                 142528 non-null  float64
 21  Gross Household Income         113882 non-null  float64
 22  Segmentation                   140925 non-null  object
 23  Savings Account                142528 non-null  int64
 24  Guarantees                     142528 non-null  int64
 25  Current Account                142528 non-null  int64
 26  Derivatives Account            142528 non-null  int64
 27  Payroll Account                142528 non-null  int64
 28  Junior Account                 142528 non-null  int64
 29  More Particular Account        142528 non-null  int64
 30  Particular Account             142528 non-null  int64
 31  Particular Plus Account        142528 non-null  int64
 32  Short Term Deposits            142528 non-null  int64
 33  Medium Term Deposits           142528 non-null  int64
 34  Long Term Deposits             142528 non-null  int64
 35  eAccount                       142528 non-null  int64
 36  Funds                          142528 non-null  int64
 37  Mortgage                       142528 non-null  int64
 38  Pensions                       142528 non-null  int64
 39  Loans                          142528 non-null  int64
 40  Taxes                          142528 non-null  int64
 41  Credit Card                    142528 non-null  int64
 42  Securities                     142528 non-null  int64
 43  Home Account                   142528 non-null  int64
 44  Payroll                        142528 non-null  float64
 45  Nominal Pensions               142528 non-null  float64
 46  Direct Debit                   142528 non-null  int64
dtypes: float64(7), int64(23), object(17)
memory usage: 52.2+ MB

In [61]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142528 entries, 69 to 13647292
Data columns (total 47 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Date                           142528 non-null  object
 1   ID                             142528 non-null  int64
 2   Employee                       142528 non-null  object
 3   Country                        142528 non-null  object
 4   Sex                            142528 non-null  object
 5   Age                            142528 non-null  object
 6   Account Opened                 142528 non-null  object
 7   Opened In Last Six Months      142528 non-null  float64
 8   Months                         142528 non-null  object
 9   Primary Customer               142528 non-null  float64
 10  Last Date As Primary Customer  236 non-null     object
 11  Customer Type                  142528 non-null  object
 12  Customer Relation              142528 non-null  object
 13  Spanish Resident               142528 non-null  object
 14  Foreigner                      142528 non-null  object
 15  Employee Spouse                23 non-null      object
 16  Channel                        142528 non-null  object
 17  Deceased                       142528 non-null  object
 18  Province Code                  141761 non-null  float64
 19  Province Name                  141761 non-null  object
 20  Activity Index                 142528 non-null  float64
 21  Gross Household Income         113882 non-null  float64
 22  Segmentation                   140925 non-null  object
 23  Savings Account                142528 non-null  int64
 24  Guarantees                     142528 non-null  int64
 25  Current Account                142528 non-null  int64
 26  Derivatives Account            142528 non-null  int64
 27  Payroll Account                142528 non-null  int64
 28  Junior Account                 142528 non-null  int64
 29  More Particular Account        142528 non-null  int64
 30  Particular Account             142528 non-null  int64
 31  Particular Plus Account        142528 non-null  int64
 32  Short Term Deposits            142528 non-null  int64
 33  Medium Term Deposits           142528 non-null  int64
 34  Long Term Deposits             142528 non-null  int64
 35  eAccount                       142528 non-null  int64
 36  Funds                          142528 non-null  int64
 37  Mortgage                       142528 non-null  int64
 38  Pensions                       142528 non-null  int64
 39  Loans                          142528 non-null  int64
 40  Taxes                          142528 non-null  int64
 41  Credit Card                    142528 non-null  int64
 42  Securities                     142528 non-null  int64
 43  Home Account                   142528 non-null  int64
 44  Payroll                        142528 non-null  float64
 45  Nominal Pensions               142528 non-null  float64
 46  Direct Debit                   142528 non-null  int64
dtypes: float64(7), int64(23), object(17)
memory usage: 52.2+ MB

Address Type has only one value and it is a meaningless column. We also don't need a Province Code column if we're already going to have Province Name. Let's get rid of them now.

In [49]:
dfs = dfs.drop(columns=['Address Type','Province Code'])

In [57]:
# Most customers are classified as a "Primary Customer" so let's fill that in for the Customer Type column.
# For customer relation, there is a roughly equal distribution of both "inactive" and "active" customers. Let's forward fill in the missing values.
dfs.loc[dfs['Customer Type'].isna(),'Customer Type'] = 1
dfs['Customer Relation'].fillna(method='ffill',inplace=True)

In [59]:
dfs['Channel'].value_counts()

KHE    41069
KAT    34987
KFC    33786
KHQ     5767
KFA     4123
       ...
K00       17
KCE       17
KDA       11
KCA       11
KHP        8
Name: Channel, Length: 100, dtype: int64

Because there is no reliable way to fill in missing values for "Channel" we'll make an "Unknown" value to fill.

In [60]:
dfs['Channel'].fillna(value='Unknown',inplace=True)

In [51]:
dfs[dfs['Customer Type'].isna()].describe()

,ID,Opened In Last Six Months,Primary Customer,Province Code,Activity Index,Gross Household Income,Savings Account,Guarantees,Current Account,Derivatives Account,...,Mortgage,Pensions,Loans,Taxes,Credit Card,Securities,Home Account,Payroll,Nominal Pensions,Direct Debit
count,1.214000e+03,1214.0,1214.000000,1214.000000,1214.00000,3.080000e+02,1214.0,1214.0,1214.000000,1214.0,...,1214.0,1214.0,1214.0,1214.0,1214.0,1214.0,1214.0,1214.000000,1214.000000,1214.000000
mean,1.478624e+06,1.0,3.825371,26.654860,0.29654,1.177334e+05,0.0,0.0,0.558484,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.004119,0.004119,0.004942
std,4.493058e+04,0.0,16.405039,13.606603,0.45692,1.155393e+05,0.0,0.0,0.496772,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.064071,0.064071,0.070157
min,8.898720e+05,1.0,1.000000,1.000000,0.00000,1.413561e+04,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
25%,1.446250e+06,1.0,1.000000,14.250000,0.00000,5.763065e+04,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
50%,1.479836e+06,1.0,1.000000,28.000000,0.00000,8.435588e+04,0.0,0.0,1.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
75%,1.513464e+06,1.0,1.000000,36.000000,1.00000,1.339814e+05,0.0,0.0,1.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
max,1.553599e+06,1.0,99.000000,51.000000,1.00000,1.128613e+06,0.0,0.0,1.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,1.000000,1.000000

In [52]:
df['Customer Relation'].value_counts()

I    7304875
A    6187123
P       4656
R        870
N          4
Name: Customer Relation, dtype: int64

In [54]:
dfs[dfs['Customer Type']==1]['Customer Relation'].value_counts()

I    39725
A    36530
Name: Customer Relation, dtype: int64

In [55]:
dfs[dfs['Customer Relation']=='I'].sum()

C:\Users\Smartjuice\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Date                         2015-01-282015-01-282015-01-282015-01-282015-0...
ID                                                                 66634502534
Employee                     NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
Country                      ESESESESESESESESESESESESESESESESESESESESESESES...
Sex                          VVHHHVVHVHHVHVVVVVHVVVVVHHHVVHHHHVVVVHVHHHHHHV...
Account Opened               2012-08-102012-08-102012-08-102012-08-102012-0...
Opened In Last Six Months                                               2926.0
Primary Customer                                                       84522.0
Customer Relation            IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...
Spanish Resident             SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS...
Foreigner                    NNNNNNNNNNNSNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
Employee Spouse                                                              0
Deceased                     NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
Province Code                                                        1977735.0
Activity Index                                                          6556.0
Gross Household Income                                           7551159453.63
Savings Account                                                              0
Guarantees                                                                   0
Current Account                                                          45968
Derivatives Account                                                          0
Payroll Account                                                            174
Junior Account                                                             209
More Particular Account                                                    379
Particular Account                                                        6426
Particular Plus Account                                                   1356
Short Term Deposits                                                          7
Medium Term Deposits                                                         0
Long Term Deposits                                                          20
eAccount                                                                   934
Funds                                                                        0
Mortgage                                                                     0
Pensions                                                                     0
Loans                                                                        0
Taxes                                                                      939
Credit Card                                                                 18
Securities                                                                   4
Home Account                                                               153
Payroll                                                                   84.0
Nominal Pensions                                                          97.0
Direct Debit                                                               314
dtype: object